bin/
obj/
src/sphere.cpp.save-failed
*.o
*.exe
renderer.vcxproj.user
renderer.vcxproj.filters
.vs/renderer/v14/
*.tlog
*.idb
*.max
*.mtl
*.obj
*.pch
*.ilk
*.log
*.pdb
*.db
*.opendb
*.ipch
*.xml
*.codeanalysis
*.codeanalysisast
*.lastcodeanalysissucceeded
assets/fonts/
assets/images/
assets/models/
*.db-wal
*.db-shm
