bin/
obj/
src/sphere.cpp.save-failed
*.o
*.exe
.vs/renderer/v14/
*.tlog
*.idb
*.max
*.mtl
*.obj
*.pch
*.ilk
*.log
*.pdb
*.db
*.opendb
*.ipch
*.xml
*.codeanalysis
*.codeanalysisast
*.lastcodeanalysissucceeded
assets/fonts/
assets/images/
assets/models/
*.db-wal
*.db-shm
external/glm/
assimp-vc140-mt.dll
SDL2.dll
*.cap
vs_build/CMakeFiles/
