bin/
obj/
src/sphere.cpp.save-failed
*.o
*.exe
v14/
*.tlog
*.idb
*.max
*.mtl
*.obj
*.pch
*.ilk
*.log
*.tlog
*.pdb
*.db
*.opendb
*.ipch
*.xml
*.codeanalysis
*.codeanalysisast
*.lastcodeanalysissucceeded
assets/fonts/
assets/images/
assets/models/
*.db-wal
*.db-shm
external/glm/
assimp-vc140-mt.dll
SDL2.dll
*.cap
vs_build/CMakeFiles/
assets/animation
mac_build/renderer.build
mac_build/CMakeFiles
mac_build/CMakeScripts
CMakeCache.txt
UserInterfaceState.xcuserstate
cmake_install.cmake
Breakpoints_v2.xcbkptlist
win32_build2/
win32_build/
win_build/
